.imgContent{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 5vw;
}

.descriptionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: 5vw;
}

.travelInfoContent {
    display: flex;
    flex-direction: row;
    border-top: solid 1px ;
}

.distanceContent {
    display: flex;
    flex-direction: column;
    padding-right: 10vw;
}

.travelContent{
    display: flex;
    flex-direction: column;
}
