@import "../../style/utils/mixins.scss";

.imgContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 5vw;
    &__title {
        margin-bottom: 10vh;
        font: 28px "Barlow Condensed";
        &__index {
            opacity: 0.5;
            padding-right: 1vw;
            font-weight: bold;
        }
    }
    &__img{
        height: vh;
        width: 30vw;
    }
}

.descriptionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: 5vw;
    &__selector {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 15vw;
        &__label{
            color: #d0d6f9;
            &:hover{
                border-bottom: 1px solid #FFFF;
                padding-bottom: 1vh;
                opacity: 0.5;
                color: #FFFF;
            }
        }
        &__input {
            display: none;
            &:checked + label {
                border-bottom: 1px solid #FFFF;
                padding-bottom: 1vh;
                color: #FFFF;
            }
        }
    }
    &__title {
        margin: 2vh 0;
        @include font_h1
    }
    &__description {
        padding-bottom: 5vh;
        @include font_P
    }
   &__travelInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid #F2F2F2;
    padding-top: 4vh;
    &__distance {
        display: flex;
        flex-direction: column;
        padding-right: 2vw;
        @include font_h4;
        &-color {
            color: #d0d6f9;
            font: 14px "Barlow";
            padding-bottom: 0.5vh;
        }
    }
    &__travel {
        display: flex;
        flex-direction: column;
        @include font_h4;
        &-color {
            color: #d0d6f9;
            font: 14px "Barlow";
            padding-bottom: 0.5vh;
        }
    }
   }
}

